{% extends 'learning_logs/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
    <h4>
        <a href="{% url 'learning_logs:topics' %}">Topics</a> -> 
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </h4>
{% endblock %}

{% block content %}

    <h6>Add a new entry:</h6>

    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        
        {% buttons %}
            <button type="submit" class="btn btn-primary">Add</button>
        {% endbuttons %}
    </form>

{% endblock %}