{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <h4>Topics:</h4>
{% endblock %}

{% block content %}

    <h6>
        <a href="{% url 'learning_logs:new_topic' %}">Add a new topic?</a>
    </h6>

    <ul>
        {% for topic in topics %}
            <li>
                <h6>
                    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                </h6>
            </li>
        {% empty %}
            <li>
                <h6>No topic have been added yet.</h6>
            </li>         
        {% endfor %}
    </ul>

{% endblock %}