{% extends 'learning_logs/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
    <h2>Log in your account.</h2>
{% endblock %}

{% block content %}

    <form action="{% url 'users:login' %}" method="post" class="form col-md-7">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Log in</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:topics' %}" />
    </form>
    
{% endblock %}