{% extends 'learning_logs/base.html' %}

{% load bootstrap4 %}
    
{% block page_header %}
    <h2 class="">Register</h2>
{% endblock %}

{% block content %}

    <form action="{% url 'users:register' %}" method="post" class="col-md-7">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        
        {% buttons %}
                <button type="submit" class="btn btn-primary">register</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
    
{% endblock %}